.search-button {
  button {
    padding: 10px 25px;
    border-radius: 30px;
    border: 1px solid #e7e7e7;
    background-color: #e7e7e7;
    font-weight: 600;
    cursor: pointer;

    svg {
      margin-right: 5px;
    }
  }
}
