.search-bar {
  input {
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid #e7e7e7;
    position: relative;
    background: url("../../../../../public/icons-search.svg") no-repeat;
    background-position: center right 10px;
    background-size: 18px;
    color: #000;
    outline: none;
    min-width: 200px;

    &:focus,
    &:focus-visible {
      background-color: #fd4f4f1f;
      border: 1px solid #e7e7e7;
    }
  }
}
